@media (max-width: 992px) {
  #returns .resp-tabs-list li {

    padding: 5px 5px;
    font-size: 14px;
    width: auto!important;
  }
  .testimonials .half.right {
    padding: 40px 46px 0 9px;
  }
  .testimonials .half {
    padding: 40px 30px 0 59px;
  }
}

@media (max-width: 767px) {
  .main_new_link {
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 0;
  }


  .cta {
    padding: 19px 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0!important;
    margin-bottom: 20px;
  }
  .testimonials .half.right {
    padding: 40px 46px 0 9px;
  }

}