@media (max-width: 992px) {
  #returns .resp-tabs-list li {

    padding: 5px 5px;
    font-size: 14px;
    width: auto!important;
  }
  .testimonials .half.right {
    padding: 40px 46px 0 9px;
  }
  .testimonials .half {
    padding: 40px 30px 0 59px;
  }
  .green-band h2 span {
    background: none;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .main_new_link {
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 0;
  }
  .apply_form button.cta {
    border: none;
    cursor: pointer;
    width: 100%;
  }
  .testimonials .half {
    padding: 34px 10px!important;
  }


  .cta {
    padding: 19px 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0!important;
    margin-bottom: 20px;
  }
  .testimonials .half.right {
    padding: 40px 46px 0 9px;
  }
  #internal .row.step-wrap .content.content_step.content_step button.cta {
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 22px 40px;
    position: relative;
    top: -3px;
    margin-bottom: 20px;
  }




}