$default-font: "roboto-example", sans-serif;
$accent: orange;
//colors
$color_nile_blue_approx: #1f394d;
$white: #fff;
$color_storm_dust_approx: #666666;
$color_lochmara_approx: #0380c3;
$color_gravel_approx: #4b4a4a;
$color_prussian_blue_approx: #023158;
$color_regent_gray_approx: #8591a8;
$color_scarpa_flow_approx: #4e5b6c;
$color_portage_approx: #81a4ec;
$color_waikawa_gray_approx: #5b73a3;
$color_mountain_meadow_approx: #04be7f;
$color_raven_approx: #757a87;
$color_bon_jour_approx: #dfdfdf;
$color_mountain_mist_approx: #8f9296;
$white_100: rgba(255,255,255,1);
$color_venice_blue_approx: #04518a;
$color_regal_blue_approx: #044170;
$color_bali_hai_approx: #7f99ac;
$color_black_haze_approx: #f4f7f7;
$color_shark_approx: #1e272e;
$color_firefly_approx: #0a2336;
$color_blue_bayoux_approx: #506471;
$color_ziggurat_approx: #bfd3e2;
$color_gull_gray_approx: #9db0be;
$color_waikawa_gray_50_approx: rgba(91, 115, 163,0.5);
$color_mercury_approx: #e4e4ec;
$color_amaranth_approx: #f42b44;
$color_tuna_approx: #303848;
$color_white_lilac_approx: #f7f8fb;
$color_alabaster_approx: #f9f9fb;
$color_ship_cove_approx: #7e91b7;
$color_gallery_approx: #ebecee;
$color_masala_approx: #3a3a3a;
$color_wild_blue_yonder_approx: #7a8db4;
$color_celeste_approx: #cfcfcf;
$color_east_bay_approx: #3e5276;
$color_cape_cod_50_approx: rgba(66,68,72,0.5);
$color_log_cabin_approx: #222;
$color_submarine_40_approx: rgba(186,202,202,0.4);
$alabaster: #fafafa;
$color_silver_chalice_approx: #b0b0b0;
$color_slate_gray_approx: #6e818f;
$color_mystic_approx: #e7e9eb;
$color_gray_nurse_approx: #e8e8e8;
$color_tower_gray_approx: #adb8c1;
$mine_shaft: #323232;
$color_quill_gray_approx: #d4d4d4;
$color_romance_approx: #fefefe;
$color_jumbo_approx: #7c8088;
$color_athens_gray_approx: #eef1f7;
$color_geyser_approx: #d6dce8;
$color_pewter_approx: #949ca3;
$color_nepal_approx: #8c9dbe;
$color_alto_approx: #dcdcdc;
$red: red;
$color_aluminium_approx: #acaeb2;
$color_silver_sand_approx: #c0c3c8;
$color_mako_approx: #454b50;
$color_bright_turquoise_approx: #00d2ff;

//fonts
$font_0: robotomedium;
$font_1: robotolight;
$font_2: robotobold;
$font_3: robotoregular;
$font_4: robotoblack;
$font_5: robotoitalic;
$font_6: Arial;
$font_7: Helvetica;
$font_8: sans-serif;

//urls
$url_0: url(../images/home-top-section-bg.jpg);
$url_1: url(../images/client-services.png);
$url_2: url(../images/client-services-white.png);
$url_3: url(../images/apply-header.png);
$url_4: url(../images/banner-list.png);
$url_5: url(../images/playbutton.png);
$url_6: url(../images/playbutton-hover.png);
$url_7: url(../images/graphlines.png);
$url_8: url(../images/pattern-blue.jpg);
$url_9: url(../images/pattern-beige.jpg);
$url_10: url(../images/graphlines2.png);
$url_11: url(../images/graphdot.png);
$url_12: url(../images/border.png);
$url_13: url(../images/bluebgsection.jpg);
$url_14: url(../images/headlinebg.png);
$url_15: url(../images/testimonials.jpg);
$url_16: url(../images/bigquotes.png);
$url_17: url(../images/sep.jpg);
$url_18: url(../images/arrow-prev.png);
$url_19: url(../images/arrow-next.png);
$url_20: url(../images/green-band-bg.jpg);
$url_21: url(../images/headline-icon.png);
$url_22: url(../images/social-icons.png);
$url_23: url(../images/menu-arrow-down.png);
$url_24: url(../images/menu-arrow-dark.png);
$url_25: url(../images/arrow-menu2.png);
$url_26: url(../images/menu-arrow-green.png);
$url_27: url(../images/error.png);
$url_28: url(../images/valid.png);
$url_29: url(../images/about-banner-bg.jpg);
$url_30: url(../images/headline-icon-band-white.png);
$url_31: url(../images/ctabandwhite.jpg);
$url_32: url(../images/ourteam-banner-bg.jpg);
$url_33: url(../images/tabswrapperbg.jpg);
$url_34: url(../images/sepmb.jpg);
$url_35: url(../images/apply-online-bg.jpg);
$url_36: url(../images/checklist.png);
$url_37: url(../images/span-select.png);
$url_38: url(../images/fxfusion-banner-bg.jpg);
$url_39: url(../images/fxicon.png);
$url_40: url(../images/spanbg2.png);
$url_41: url(../images/thankyouapply-banner-bg.jpg);
$url_42: url(../images/info-pack-ty-bg.jpg);
$url_43: url(../images/thankyouenquiry-banner-bg.jpg);
$url_44: url(../images/sepgreen.jpg);
$url_45: url(../images/arrow-full.png);
$url_46: url(../images/contactus-banner-bg.jpg);
$url_47: url(../images/form-header.jpg);
$url_48: url(../images/info-pack-banner-bg.jpg);
$url_49: url(../images/checkboxbg.jpg);
$url_50: url(../images/faq-banner-bg.jpg);
$url_51: url(../images/blog-banner-bg.jpg);
$url_52: url(../images/arrow--prev-default.png);
$url_53: url(../images/arrow--prev-active.png);
$url_54: url(../images/arrow-active.png);
$url_55: url(../images/arrow-default.png);
$url_56: url(../images/searchmag.png);
$url_57: url(../images/green-band-bg-sidebar.jpg);
$url_58: url(../images/whitesep.jpg);
$url_59: url(../images/dotsblist.jpg);
$url_60: url(../images/rsBullet.png);


