<div class="header">
    <div class='content clearfix'><a href='/' class='logo'>

        <img src='images/logo_1.png' ></a>
        <div class='h-right clearfix'><a href="#" class='h-button apply'>Apply
            Online</a>
            <ul class='secondary clearfix'>
                <li><a href="#">FAQ</a></li>
            </ul>
            <div class='clear'></div>
            <a id='menu_trigger' href='#mm_menu'><span class='slicknav_icon'><span
                    class='slicknav_icon-bar'></span><span class='slicknav_icon-bar'></span><span
                    class='slicknav_icon-bar'></span></span></a>
            <nav id='mm_menu' class='clearfix'>
                <div class='working'>
                    <ul class='menu' id='main_menu'>
                        <li><a href='/'>Home</a></li>
                        <li><a href="#">How It Works </a></li>
                        <li><a href="#">Who We Are</a>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Our team</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Our Strategies </a>
                            <ul>
                                <li><a href="#">Steady
                                    Capture MDA</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>